.song-entry {
    margin: 2px;
}
.sidebar_link {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.song_name {
    padding-top: 45px !important;
    padding-bottom: 45px !important;

}
.semi-link:hover {
    background-color: #3A3042 ;
}
.dropdown-item:hover {
    background-color: rgb(181, 181, 181) !important;
}
.heart-toggle {
    color: #EA638C;
    font-size: 350%;
}
.heart-toggle:hover {
    color: rgb(255, 0, 0) !important;
}
.selected {
    background-color: black;
}
#logo {
    font-size: 160%;
    color:#F3EFF5 !important;
}
body {
    background-color: #0D1321 !important;
    color: #F3EFF5 !important;
}
a {
    font-size: 120%;
    font-weight: bold;
    color: #3AAFB9 !important;
}
.btn-secondary {
    background-color: #F3EFF5 !important;
}

.song-entry {
    display:flex;
    align-items: center;
}
.header-bar {
    display:flex;
    align-items: flex-end;
    padding-bottom: 20px;
}
.search-bar {
    padding-top: 13px
}
a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: #3AAFB9 !important;
  }
  .login-link:hover {
    text-decoration: none;
    color: #3A3042 !important;
  }
  a:active {
    text-decoration: none;
  }